@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color: rgb(79, 70, 229);
    --secondary-color:rgb(59, 130, 246);
    --radius:5px;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", serif;
}
header{
position: sticky;
top: 0;
    display: flex;
    justify-content: space-around;
align-items: center;
margin:21px 2px 21px 1px;
background-color: white;
z-index: 1000;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
ul{
    display: flex;
    list-style: none;
align-items: center;
    
}
.logo{
    color: black;
    font-size: 2em;
    transform: translateX(-68px);
    font-family: "Noto Sans", serif;
    font-weight: bolder;
}
li{
    margin: 0px 20px 0px 10px;
    font-family: "Noto Sans", serif;
    letter-spacing: 1px;
    font-size: 17px;
    
}
.fa-brands,.fa-solid{
    font-size: 25px;
    margin: 0px 4px 0px 4px;
}

a{
    text-decoration: none;
    color: black;
}
.social{
    transform: translateX(62px);
}
.activa{
    border: none;
    background-color: rgb(79, 70, 229);
    border-radius: 5px;
    padding: 4px 9px 4px 11px;
    box-sizing: border-box;
    
}
.active{
    color: white;
    
}
.activa:hover{
    background-color: rgb(67, 61, 175);
    cursor: pointer;
}
.activa:hover .active{
    color: lightgray;
}
.under_line{
    text-underline-offset: 7px;
}
.under_line:hover{
text-decoration: underline;

}
.Banner{
    width: 474.15px;
    height: 474.15px;
    border-radius: 10px;
}
.first_body{
 display: flex;
 justify-content: space-around;
 margin-top: 80px;
}
.left_side{
    transform: translateX(5px);
    width: 651px;
    height: 474.15px;
}
.first{
    
font-size: 24px;
margin-top: 90px;
}
.second{
font-size: 30px;
margin-top: 30px;
font-weight: bold;
}
.fourth{
font-size: 16px;
margin-top: 30px;
}
.third{
    margin-top: 30px;
}
.fifth{
    margin-top: 30px;
}
.collaborate{
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--radius);
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.2s ease;
}
.collaborate:hover{
    background-color: rgb(67, 61, 175);
    cursor: pointer;
}
.skills{
    border: none;
    color: white;
    background-color: rgb(35, 29, 29);
    border-radius: var(--radius);
    margin-right: 14px;
    padding: 5px 7px 5px 7px;
}
.skills:hover{
    background-color: rgb(75, 70, 70);
    cursor: pointer;
}
.web_based{
    background: linear-gradient(to right, rgb(59, 130, 246), rgb(147, 51, 234), rgb(99, 102, 241));
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.waver{
    display: inline-block;
    animation: wave 1.5s infinite ease-in-out;
      transform-origin: bottom center;
}
@keyframes wave {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
  }
  .queen{
    font-weight: bold;
  }
  .second_body{
    margin-top: 109px;
   
  }
  .education{
    padding: 24px;
    margin: 0px 37px 0px 37px;
  }
  .head{
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
  }
  .master{
    line-height: 27px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--radius);
    font-weight: bold;
  }
  .master:hover{
    background-color: grey;
    cursor: pointer;
  }
  .para1{
    margin-top: 24px;
    line-height: 20px;
  }
  .master_1{
    color: var(--secondary-color);
  }
  .work{
    margin-top: 48px;
    padding: 24px;
    margin-left: 37px;
    margin-right: 37px;
  }
  .travis{
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
  }
  .button_3{
    line-height: 27px;
    
    color: white;
    border: none;
    border-radius: var(--radius);
    font-weight: bold;
  }
  .button_3:hover{
background-color: grey;
cursor: pointer;
  }
  .proto{
    background-color: rgb(0, 161, 112);
  }
  .type{
    background-color: rgb(75, 85, 99);
  }
  .senior{
    font-weight: bold;
  }
  .work_page{
    color: var(--secondary-color);
  }
  .para_3{
    margin-top: 20px;
    line-height: 20px;
  }
  .final{
    width: 100%;
    height: 1px;
    background: rgb(55 52 52 / 24%);
    margin-top: 51px;
  }
  footer{
    text-align: center;
    font-size: 14px;
    padding: 16px 0px 16px 0px;
  }
  .fa-solid.fa-message{
    transform: translateX(450px);
    font-size: 21px;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    background-color: var(--primary-color);
    padding: 15px;
    position: fixed;
    bottom: 12px;
    left: 820px;
  }
  @media (max-width: 768px) {
    *{
      font-family: "Noto Sans", serif;
    }
  header{
    flex-direction: column;
    position: static;
    box-shadow: none;
  }
  ul{
    flex-direction: column;
    margin-top: 10px;
  }
  li{
    padding-top: 20px;
  }
  .logo{
    transform: translateX(20px);
  }
  .social{
    transform: translateX(-20px);
    margin-top: 20px;
    
  }
  .fa-brands{
    padding-left: 40px;
    font-size: 40px;
  }
  .line{
    display: none;
  }
  .first_body{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .Banner{
    margin-left: 55px;
    height: 100px;
    width: 100px;
  }
.second_body{
  flex-wrap: wrap;
}
}